<div id="dashboard_page">

<div ng-controller="Dashboard">

  <h1>Welcome {{ userName }}</h1>
  <!-- <h2> {{ sesh }}</h2> -->
<!-- </div> -->
<button ng-click="logout();">Logout</button>
<!-- <div class="container"> -->
 <div class="todo-wrapper" ng-controller="TodoCtrl">
      <h2>You've got <span class="emphasis">{{getTotalTodos()}}</span> things to do</h2>
      <ul>
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done"/>
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form>
        <input class="add-input" placeholder="I need to..." type="text" ng-model="formTodoText" ng-model-instant />
        <button class="add-btn" ng-click="addTodo()"><h2>Add</h2></button>
      </form>

      <button class="clear-btn" ng-click="clearCompleted()">Clear completed</button>
    </div>
<!-- <body ng-app="submitExample">

<form ng-submit="submit()" ng-controller="ExampleController">
  Enter Recipe and hit enter:
  <input type="text" ng-model="text" name="text" />
  <input type="submit" id="submit" value="Submit" />
  <pre>list={{list}}</pre>
</form>
</body> -->

  <div class="DBBanner">
    <img src="images/recipes-logo.png">
  </div>

</div>
