








.container {
  padding-left: 100px;
  padding-right: 100px;
  background-color: #7BACD0;
  min-width: 500px;
  text-align: justify;
}

h1 {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: grey;
  border: 2px solid black;
}





//DashBoard Style
h3.DByourTrips {
    margin-top: 113px;
}

.Dashboard button {
   margin-top: 100px;
}

.complete {

  text-decoration: line-through;
}

button.BPbut {
   width: 100px;
   height: 60px;

}

//Login Style

#login_container {


  h1 {
    text-align: center;
    font-size: 3em;
  }

  form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    .input1 {
      // float: left;
      height: 25px;
      width: 300px;
      display: inline;
      margin: 20px;
    }
    .input2 {
      // float: left;
      height: 25px;
      width: 300px;
      display: inline;
      margin: 20px;
    }
    .LGbutton {
      clear: both;
      display: inline-block;
      width: 300px;
      float: left;
      margin: 0 20px 20px 20px;

    }
  }
}

//Registration Style

#registration_page {

  h1 {
    text-align: center;
    font-size: 2em;
  }

form {
  text-align: justify;

  input {
    width: 150px;
    height: 25px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }
}


}

